{% extends "base.html" %} 

{% block page_content %}
    <div class = "coffee-main", style="margin-left: 20vw;">
        {% for coffee in coffees %}
            <div class = "white-link">
                <h2><a href = "{% url 'coffee:coffee_detail' slug=coffee.slug %}">{{ coffee.name }}</a> </h2>
            </div>
            <p> 
                Roaster: <a href = "{% url 'coffee:coffee_roaster' coffee.roaster.name %}">
                        {{ coffee.roaster }} </a> <br>
                {{ coffee.created_on.date }} 
                <br><br><br>
            </p>
        {% endfor %}
    </div>


    
{% endblock page_content %}