<!-- coffee/templates/coffee/index.html -->

{% extends "base.html" %} 

{% block page_title %}
    
{% endblock page_title %}

<!-- If you edit the below code, you will need to make the same edits in search.html in the food_blog directory -->
{% block page_content %}
    <div class = "page-container">
        <div class = "coffee-main">

            <h1 style = "margin-bottom: 2rem;"> all coffees </h1>

            {% for coffee in coffees %}
                <div class = "white-link">
                    <h2><a href = "{% url 'coffee:coffee_detail' slug=coffee.slug %}">{{ coffee.name }}</a> </h2>
                </div>
                <p> 
                    Roaster: <a href = "{% url 'coffee:coffee_roaster' coffee.roaster.name %}">
                            {{ coffee.roaster }} </a> <br>
                    {{ coffee.created_on.date }} 
                    <br><br><br>
                </p>
            {% endfor %}
        </div>
        
        <div class="coffee-sidebar">

            <h2> Filters </h2> 

            <h3> Roaster </h3>

            <div style="margin-left:2vw;">
                {% for roaster in roasters %}
                    <a href = "{% url 'coffee:coffee_roaster' roaster.name %}">{{ roaster.name }}</a> <br> <br>
                {% endfor %}

            </div>

            <h3> Country of origin </h3>

            <div style="margin-left:2vw;">
                {% for country in countries %}
                    <a href = "{% url 'coffee:coffee_origin' country.name %}">{{ country.name }}</a> <br> <br>
                {% endfor %}

            </div>

            <h3> Roast level </h3>

            <div style="display: flex; justify-content: space-between;">
                <a href = "{% url 'coffee:roast_level' "light" %}">{{ "light" }}</a> 
                <a href = "{% url 'coffee:roast_level' "medium" %}">{{ "medium" }}</a> 
                <a href = "{% url 'coffee:roast_level' "dark" %}">{{ "dark" }}</a>  <br><br>
            </div>

            <h3> Acidity </h3>

            <div style="display: flex; justify-content: space-between">
                <a href = "{% url 'coffee:coffee_acidity' "low" %}">{{ "low" }}</a> 
                <a href = "{% url 'coffee:coffee_acidity' "medium" %}">{{ "medium" }}</a> 
                <a href = "{% url 'coffee:coffee_acidity' "high" %}">{{ "high" }}</a>  <br><br>
            </div>


            

        </div>
    </div>


    
{% endblock page_content %}