<!-- templates/base.html -->

<!DOCTYPE html>
{% load static %}
<html lang="en">

<!-- Below is a link to some style sheet from bootstrap. For now, I'm going without bootstrap. -->
<!-- <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/flatly/bootstrap.min.css"> -->

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"> 

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>  the salt lick  </title>
    
    <!-- can include a java script here -->
</head>

<header class = "site-header">
    <div class="header-search">
        <form action="{% url 'site_search' %}" method="get">
                <input name="search_entry" type="text" placeholder="Search site...">
        </form>
    </div>

    <h1 class="site-title"> the salt lick </h1>
    <nav class="header-links">
        <a href="{% url 'posts:post_index' %}" class = "header-link">food</a>
        <a href="{% url 'coffee:coffee_index' %}" class = "header-link">coffee</a>
    </nav>
</header> 

<body>
    {% block tab_title %}
    <!-- Specify food blog / coffee / etc  here -->
     {% endblock tab_title %}

    {% block page_title %}
    <!-- This is where the title of each child template page goes -->
    {% endblock page_title %}
    
    {% block page_content %}
    <!-- Content from child templates goes here -->
    {% endblock page_content %}

    
</body>
</html>