{% extends "base.html" %}

{% block page_title %}
    
{% endblock page_title %}

{% block page_content %}
    <div class = "narrow-body">
        <h1 class = "gap_below"> Search for <em>{{ query }}</em> </h1>

        <h2> Recipes </h2> <br>
        {% for post in posts %}
                <div class = "white-link">
                    <h3><a href = "{% url 'posts:post_detail' slug=post.slug %}"> {{ post.title }} </a></h3>
                </div>
                <em> {{ post.created_on.date }} </em><br><br>
                <br> <br>
            {% endfor %}
        
        <h2> Coffees </h2> <br>
        
        {% for coffee in coffees %}
            <div class = "white-link">
                <h3><a href = "{% url 'coffee:coffee_detail' slug=coffee.slug %}">{{ coffee.name }}</a> </h3>
            </div>
            <p> 
                Roaster: <a href = "{% url 'coffee:coffee_roaster' coffee.roaster.name %}">
                        {{ coffee.roaster }} </a> <br>
                {{ coffee.created_on.date }} 
                <br><br><br>
            </p>
        {% endfor %}

    </div>

    
{% endblock page_content %}