<!-- posts/templates/posts/detail.html -->

{% extends "base.html" %}

{% block page_title %}
    <h2> {{ post.title }} </h2>
{% endblock page_title %}

{% block page_content %}

    
    {% if post.banner %}
        <figure>
            <img
                class = "framed"
                src = "{{ post.banner.url }}"
                alt = "{{ post.title }}"
                height = "500"
                width = "auto"
            />
        </figure>
    {% endif %}

    <em>
        {% if post.source_link %}
            <a href="{{ post.source_link  }}" target="_blank" rel="noopener noreferrer" >{{ post.source }} </a>
        {% else %}
            {{ post.source }}
        {% endif %}
    </em>

    <p>{{ post.body | linebreaks }}</p>


    <small>
        {{ post.created_on.date }} | Tags:
        {% for tag in post.tags.all %}
            <a href="{% url 'posts:post_tag' tag.name %}">
                {{ tag.name }}
            </a>
        {% endfor %}
    </small>
    
{% endblock page_content %}